[user]
  name = yukimura1227
  email = takamura1227@gmail.com
[color]
  ui = auto
[alias]
  # short hand
  br   = branch
  ch   = checkout
  sw   = switch
  di   = diff
  stat = status
  l    = log

  # original
  aliases    = !git config --get-regexp '^alias\\.'
  amend      = commit --amend
  com        = commit -m
  ch-peco    = !git checkout $(git branch | peco)
  lf         = log --follow
  me         = rev-parse --abbrev-ref HEAD
  push-me    = !git push origin `git rev-parse --abbrev-ref HEAD`
  push-me-f  = !git push origin `git rev-parse --abbrev-ref HEAD` --force-with-lease
  patch      = add --patch # = git add -p
  today      = !git tr --all --since="midnight" --author="yukimura1227"
  tr         = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  trf        = log --follow --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  yesterday  = !git tr --all --since=\"yesterday midnight\" --until="midnight" --author="yukimura1227"

[diff]
  tool = vimdiff
  conflictstyle = diff3
[merge]
  tool = vimdiff
  colorMoved = default
[core]
  editor = vim
  quotepath = false
  excludesfile = ~/.gitignore_global
  pager = delta
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
