" Control + ']'をescapeに割当
inoremap <c-]> <esc>
" 検索語にマッチした単語をハイライトする
" 逆は [ set nohlsearch ]
set hlsearch

" インクリメンタルサーチを使う ( 検索語を入れている途中から随時マッチする文字列の検索を開始)
" 逆は [ set noincsearch ]
set incsearch
set clipboard=unnamed,autoselect
"----------key bind for screen control----------"
nnoremap [screen_control] <Nop>
nmap <Space> [screen_control]

nnoremap <silent> [screen_control]s :<C-u>split<CR>
nnoremap <silent> [screen_control]v :<C-u>vsplit<CR>
nnoremap <silent> [screen_control]j <C-w>j
nnoremap <silent> [screen_control]k <C-w>k
nnoremap <silent> [screen_control]l <C-w>l
nnoremap <silent> [screen_control]h <C-w>h
nnoremap <silent> [screen_control]w <C-w>w
nnoremap <silent> [screen_control]J <C-w>J
nnoremap <silent> [screen_control]K <C-w>K
nnoremap <silent> [screen_control]L <C-w>L
nnoremap <silent> [screen_control]H <C-w>H
nnoremap <silent> [screen_control]n gt
nnoremap <silent> [screen_control]p gT

